:root {
  --azul: #454641;
}

body {
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f3232;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-image: url(/assets/images/navbar-pic2.jpeg);
  background-size: cover;
}

header p {
  font-size: 1.4rem;
}

.avatar__image {
  display: flex;
  align-items: center;
}

.avatar__image p {
  padding-left: 10px;
  color: #e6e9dc;
}

.profile__pic {
  background-size: initial;
  height: 6vh;
  width: 5.5vh;
  border-radius: 30px;
}

nav ul {
  display: flex;
}
nav ul li {
  padding: 8px;
}

nav ul li a {
  font-family: "Playfair Display", serif;
  color: #e6e9dc;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.aboutMe__container,
.work__container,
.contactMe__container {
  box-sizing: border-box;
  align-items: center;
  margin-top: 1rem;
  min-height: 30vh;
  display: flex;
  padding-right: 10px;
  background-color: #d0e6e6;
}

.contactMe__container {
  margin-bottom: 1rem;
}

.aboutMe__title,
.work__title,
.contact__title {
  display: flex;
  padding-left: 50px;
  flex: 1;
  justify-content: space-evenly;
}

.aboutMe__title h1,
.work__title h1,
.contact__title h1 {
  padding-right: 10px;
}

.work__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}
.work__division1 img {
  width: 90vh;
  height: auto;
}
.work__division1 img,
.work__division2 img {
  opacity: 0.5;
  border: 5px solid #490e27;
}

.work__division1:hover img {
  transform: scale(1);
  opacity: 1;
}

.work__division1:hover {
  box-shadow: inset 0px 0px 8px var(--azul), 0 0 15px var(--azul);
}

.first__project__img {
  transform: scale(0.9);
}

.work__division2__img:hover {
  box-shadow: inset 0px 0px 8px var(--azul), 0 0 15px var(--azul);
  opacity: 1;
  transform: scale(1);
}
.first__project {
  flex: 1;
  width: 800px;
  height: 400px;
}

.work__division2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.work__division2 img {
  transform: scale(0.9);
  background-size: cover;
  width: 50vh;
  height: 20vh;
  margin: 0px 2.5px 5px 2.5px;
}
.aboutMe__info,
.work__info,
.contact__info {
  flex: 2;
  padding: 15px;
}

.aboutMe__info p {
  font-size: 1.2rem;
}
.contact__info ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.8rem;
}
.contact__info ul li {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.contact__info ul li a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 2.2rem;
}

.v-line {
  border-left: thick solid #000;
  height: 10vh;
}

footer {
  display: flex;
  height: 15vh;
  background-image: url(/assets/images/navbar-pic2.jpeg);
  background-size: cover;
}

@media screen and (max-width: 1358px) {
  .work__division1 img {
    box-sizing: border-box;
    width: 50vh;
    height: 30vh;
  }

  .work__division2 {
    flex-direction: row;
    align-items: center;
  }

  .work__division2 img {
    box-sizing: border-box;
    width: 30vh;
    height: 20vh;
  }

  .contact__info ul {
    flex-direction: column;
    align-items: center;
    line-height: 2.8rem;
  }
}

@media screen and (max-width: 992px) {
  .work__division1 img {
    box-sizing: border-box;
    width: 50vh;
    height: 40vh;
  }

  .work__division2 {
    flex-direction: row;
    align-items: center;
  }

  .work__division2 img {
    box-sizing: border-box;
    width: 45vh;
    height: 25vh;
  }

  .contact__info ul {
    flex-direction: column;
    line-height: 2.8rem;
  }
}

@media screen and (max-width: 768px) {
  .work__division1 img {
    margin-bottom: 5px;
    width: 45vh;
    height: 30vh;
  }

  .work__division2 {
    flex-direction: column;
    align-items: center;
  }

  .work__division2 img {
    margin-bottom: 5px;
    width: 40vh;
    height: 20vh;
  }

  .contact__info ul {
    flex-direction: column;
    line-height: 2.8rem;
  }
}
